.bmm-vertical-split-container {
  width: 40%;
  height: 70%;
  max-width: 100%;
  min-width: 150px;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.bmm-drop-list {
  border: solid 1px #ccc;
  min-height: 204px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.bmm-drop-list-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.pre {
  display: inline;
  margin: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.spacer {
  flex: 1 1 auto;
}

.bmm-scrollable-card {
  max-height: calc(100vh - 189px);
  overflow-y: auto;
}
