<mat-card>
  <mat-card-header>
    <mat-card-title>Mannschaftsaufstellungen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div cdkDropListGroup>
      <mat-card class="bmm-vertical-split-container bmm-scrollable-card">
        <mat-card-header>
          <mat-card-title>Verfügbare Spieler</mat-card-title>
          <span class="spacer"></span>
          <button mat-icon-button color="primary" (click)="sortAvailablePlayersByName()"
          matTooltip="Nach Nachnamen sortieren">
            <mat-icon>sort_by_alpha</mat-icon></button>
          <button mat-icon-button color="primary" (click)="sortAvailablePlayersByRating()"
          matTooltip="Nach DWZ sortieren">
            <mat-icon>format_list_numbered_rtl</mat-icon></button>
        </mat-card-header>
        <mat-card-content>
          <div cdkDropList
          [cdkDropListData]="availablePlayers"
          class="bmm-drop-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let availablePlayer of availablePlayers index as i" cdkDrag
            class="bmm-drop-list-box">
              {{availablePlayer.surname}}, {{availablePlayer.forename}} <span class="spacer"></span>
              <ng-container *ngIf="availablePlayer.dwz">{{availablePlayer.dwz}}</ng-container>
              <button mat-icon-button color="primary" [matMenuTriggerFor]="teamSelection">
                <mat-icon>chevron_right</mat-icon>
                <mat-menu #teamSelection="matMenu">
                  <button mat-menu-item *ngFor="let team of teams"
                          (click)="pushParticipantToTeam(availablePlayer, i, team.number)">
                    {{team.number}}. Mannschaft</button>
                </mat-menu>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="bmm-vertical-split-container bmm-scrollable-card">
        <mat-card-header>
          <mat-card-title>Mannschaften</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card *ngFor="let team of teams index as i"
          style="margin-bottom: 15px">
            <mat-card-header>
              <mat-card-title>{{i +1}}. Mannschaft</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div cdkDropList
              [cdkDropListData]="team.participants"
              class="bmm-drop-list"
              (cdkDropListDropped)="drop($event)">
                <div *ngFor="let player of team.participants index as j" cdkDrag
                class="bmm-drop-list-box">
                  {{ i+1 }}<ng-container *ngIf="j+1<10">0</ng-container>{{ j+1 }}
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  {{ player.surname}}, {{player.forename}} <span class="spacer"></span>
                  <ng-container *ngIf="player.dwz">{{ player.dwz }}</ng-container>
                  <button mat-icon-button (click)="moveToAvailablePlayers(i, j)" color="warn">
                    <mat-icon>delete</mat-icon></button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" style="margin-right:8px" (click)="addNewTeam()">
      <mat-icon>add</mat-icon> Mannschaft hinzufügen</button>
    <button mat-raised-button color="primary" style="margin-right:8px" (click)="deleteLastTeam()">
      <mat-icon>delete</mat-icon> Letzte Mannschaft entfernen</button>
    <button mat-raised-button color="primary" style="margin-right:8px" (click)="submit()">
      Speichern</button>
  </mat-card-actions>
</mat-card>
<!--<pre>{{ availablePlayers | json }}</pre>
<pre>{{ teams | json }}</pre>-->
