<mat-card>
  <mat-card-header>
    <mat-card-title>Saisonphase festlegen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Saison</mat-label>
      <mat-select [(ngModel)]="season">
        <mat-option *ngFor="let s of seasons" [value]="s">{{ s.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phase</mat-label>
      <mat-select [(ngModel)]="stage">
        <mat-option *ngFor="let s of stages" [value]="s">{{ s }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button *ngIf="season && stage" (click)="submit()">OK</button>
    <button mat-stroked-button *ngIf="!(season && stage)" [disabled]="true">OK</button>
  </mat-card-actions>
</mat-card>
