<form [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label>Benutzername</mat-label>
      <input matInput formControlName="name" type="text">
    </mat-form-field>
    <br>
    <div formGroupName = password>
      <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input matInput formControlName="password1" type="password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Passwort bestätigen</mat-label>
        <input matInput formControlName="password2" type="password">
      </mat-form-field>
    </div>
  <button mat-raised-button color="primary" type="submit">OK</button>
</form>
