<mat-card-header><mat-card-title>Admin</mat-card-title></mat-card-header>
<mat-card-actions>
  <button [routerLink]="['/admin/create-season']" style="margin-right:8px" mat-stroked-button>Saison erstellen</button>
  <button [routerLink]="['/admin/create-user']" style="margin-right:8px" mat-stroked-button>Benutzer anlegen</button>
  <button [routerLink]="['/admin/create-season-admin']" style="margin-right:8px" mat-stroked-button>
    Benutzer zu Saisonadmin machen</button>
  <button [routerLink]="['/admin/create-club-admin']" style="margin-right:8px" mat-stroked-button>
    Benutzer zu Vereinsadmin machen</button>
  <button [routerLink]="['/admin/create-club']" mat-stroked-button>Verein erstellen</button>
</mat-card-actions>
