<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field [ngStyle]="{'width.ch': 32}">
    <mat-label>Altes Passwort</mat-label>
    <input matInput formControlName="oldPassword" type="password">
  </mat-form-field>
  <br>
  <div formGroupName = newPassword>
    <mat-form-field [ngStyle]="{'width.ch': 32}">
      <mat-label>Neues Passwort</mat-label>
      <input matInput formControlName="newPassword1" type="password">
    </mat-form-field>
    <mat-form-field [ngStyle]="{'width.ch': 32}">
      <mat-label>Neues Passwort bestätigen</mat-label>
      <input matInput formControlName="newPassword2" type="password">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit">OK</button>
</form>
