<mat-toolbar color="primary">
  <button [routerLink]="['home']" mat-flat-button color="primary"><mat-icon>home</mat-icon></button>
  <button mat-flat-button [matMenuTriggerFor]="menu" color="primary">Saison</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let season of seasonNames">{{ season }}</button>
  </mat-menu>
  <span class="spacer"></span>
  <button [routerLink]="['login']" mat-flat-button color="primary" *ngIf="!isAuthenticated"><mat-icon>login</mat-icon> Login</button>
  <button mat-flat-button *ngIf="isAuthenticated" color="primary"><mat-icon>logout</mat-icon> Logout</button>
</mat-toolbar>
